---
import { fade, slide  } from 'astro:transitions';

import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';

import Header from "../components/header/Header.astro";
import Footer from '../components/footer/Footer.astro';

export interface Props {
	seo?: BaseHeadProps;
}
const { seo } = Astro.props;
const { page } =  Astro.params


import { getGlobalSiteSettings, getAppearance, getMainMenu } from '../lib/sanityApi.js';
const globalSiteSettings = await getGlobalSiteSettings();
const appearance = await getAppearance();
const mainMenu = await getMainMenu();



---

<html lang="de" transition:animate="none" >
  <!-- transition:animate="none" -->
  <!-- transition:animate={"none"} -->
  <!-- fade({ duration: '1.4s' }) -->
  <head>
    <BaseHead globalSiteSettings={globalSiteSettings} {...seo} />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <!-- <slot name="header" /> -->

    <Header globalSiteSettings={globalSiteSettings} slug={page} mainMenu={mainMenu} transition:persist/>

    <!-- <AltHeader /> -->

    <!-- <div transition:animate="slide"> -->
    <!-- <div transition:animate={fade({ duration: '0.3s' })}> -->
      <slot />
    <!-- </div> -->


    <Footer globalSiteSettings={globalSiteSettings} mainMenu={mainMenu} slug={page} />

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script> -->
  </body>
</html>


<style>
.header-wrapper {
  z-index: 999;
}
</style>
