---
import { fade, slide  } from 'astro:transitions';

import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';

import Header from "../components/header/Header.astro";
import Footer from '../components/footer/Footer.astro';

export interface Props {
	seo?: BaseHeadProps;
}
const { seo } = Astro.props;
const { page } =  Astro.params


import { getGlobalSiteSettings, getAppearance, getMainMenu } from '../lib/sanityApi.js';
const globalSiteSettings = await getGlobalSiteSettings();
const appearance = await getAppearance();
const mainMenu = await getMainMenu();



---

<html lang="de"  >
  <!-- transition:animate="none" -->
  <!-- transition:animate={"none"} -->
  <!-- fade({ duration: '1.4s' }) -->
  <head>
    <BaseHead globalSiteSettings={globalSiteSettings} {...seo} />
  </head>
  <body class="bg-white dark:bg-gray-900">

    <!-- <slot name="header" /> -->
    <Header globalSiteSettings={globalSiteSettings} slug={page} mainMenu={mainMenu} transition:persist/>

    <div>
      <slot />
    </div>

    <Footer globalSiteSettings={globalSiteSettings} mainMenu={mainMenu} slug={page} />

    
    <script>
      console.log('das Script ist da!')
  
      // Observer 
      function initObserver() {
        console.log('OBSERVER STARTED!!!')
        
        const sections = [...document.querySelectorAll('section')];
        
        const intersectionObserver = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            // if (entry.intersectionRatio > 0) {
            if (entry.isIntersecting) {
              // entry.target.style.animationPlayState = 'running';
              entry.target.classList.add('observer-detected');
              intersectionObserver.unobserve(entry.target);
            }
            console.log(entry)
          });
        }, {
          threshold: 0.2
        });
    
        sections.forEach(section => {
          intersectionObserver.observe(section);
        });
      }

      // document.addEventListener('astro:load', initObserver);
      // window.addEventListener('astro:page-load', initObserver);
      document.addEventListener('astro:page-load', initObserver);
    </script>
   

    <!-- <script src="../scripts/intersectionObserver.js" astro:load="true"></script> -->
    
  </body>
</html>


<style>
.header-wrapper {
  z-index: 999;
}
</style>

