---
// Import Node Modules
import { urlFor } from '../lib/sanityApi.js';
import { fade, slide  } from 'astro:transitions';

// Import API functions
import { getCurrentPage } from '../lib/sanityApi.js';

// Import Types
import { PageContent } from '../types/PageContent';

// Import Components
import Layout from "../layouts/Base.astro";
import Hero from '../components/Hero.astro'
import PageBuilder from '../components/PageBuilder.astro'

// "getStaticPaths()" is only required for SSG pages
export async function getStaticPaths() {
    return [
        { params: { page: 'testpage' }, props: { /* optional */ } },
        { params: { page: 'no-transition' }, props: { /* optional */ } },
    ]
}

const { page } =  Astro.params

const pageContent: PageContent = await getCurrentPage(`/${page}`);

// console.log('pageContent: ', pageContent)
---

<Layout>
    
    <Hero pageContent={pageContent} />

    
    <main>
        <h2>Page ohne unterverzeichnis</h2>
        
        { pageContent &&
            pageContent?.pageBuilder.map(pageBuilder => (
                // pageContent._type === 'hero' && <h3> {JSON.stringify(pageContent)}</h3> <br><br>
                <PageBuilder pageBuilder={pageBuilder}/>
                // <p>{JSON.stringify(pageContent)}</p>
            ))
        }

	</main> 
</Layout>


<style lang="scss">
    main {
        padding: 2rem 0;
    }

    .z-front {
        z-index: 999;
    }
</style>