---
// @ts-ignore
import Layout from "../../layouts/BaseLightbox.astro";
import Hero from '../../components/Hero.astro'
import VideoWithControls from '../../components/media/VideoWithControls.vue'
import VideoWithControlsNav from '../../components/media/VideoWithControlsNav.vue'

// Import API functions
import { getSingleVideo } from '../../lib/sanityApi.js';
// import VideoPersist from "../../components/media/VideoPersist.astro";


// "getStaticPaths()" is only required for SSG pages
export async function getStaticPaths() {
    return [
        { params: { page: 'b95c19d3-288d-4a74-8db0-4b16d36455ac' }, props: { /* optional */ } },
    ]
}

const { page } = Astro.params as { page: string };

console.log('video from video', page)

console.log('typeof video', typeof page)

const videoData = await getSingleVideo(`${page}`);

---


<Layout>

    <div class="lightbox-background">
        <main>

            <VideoWithControlsNav client:load />

            <!-- <p>{video}</p> -->

            { videoData &&
                <VideoWithControls videoData={videoData} id={page} transition:name={`video-${videoData._id}`} client:load /> 
            }
            <!-- transition:name={`video-${videoData._id}`} -->


            <!-- <VideoPersist/> -->

            <!-- <p class="text-white">{JSON.stringify(videoData)}</p>

            <h2 class="text-white" transition:name="title">Video Section</h2> -->

        </main>
    </div>

</Layout>


<style lang="scss">
.lightbox-background {
    background-color: #232323;
    color: #fff;
    min-height: 100vh;
}

</style>