---

const mainNav = Astro.props.mainNav

const currentURL = Astro.request.url;

---


<nav role="navigation" class="toggle-mobile-nav bg-dsv-orange">
    
    {mainNav.map((nav, index) => (
        <div>
            {
                nav?.isReference ?
                <a
                    href={nav.pageReference?.slug}
                    class={
                        (`${nav.pageReference?.slug}` === currentURL ? 'active' : '')
                    }
                >
                    {nav.linkName} 
                </a>
                : 
                
                <a
                    href={nav.individualURL}
                >
                    {nav.linkName} 
                </a>
            }
        </div>
    ))}

</nav>


