---
import { fade, slide  } from 'astro:transitions';

import Layout from "../../layouts/Base.astro";
// export async function getStaticPaths() {
//     return [
//         { params: { page: 'testpage' }, props: { /* optional */ } },
//     ]
// }

import { urlFor } from '../../lib/sanityApi.js';

const { page } =  Astro.params

const pageJSON = JSON.stringify(page)

import { getCurrentPage } from '../../lib/sanityApi.js';


import PageBuilder from '../../components/PageBuilder.astro'
const pageContent = await getCurrentPage(`/${page}`);

console.log('pageContent: ', pageContent)
---

<Layout>


    <!-- <p>pageContent: { JSON.stringify(pageContent.heroImage) }</p> -->

    <!-- <div class="z-front">
        <img 
            width={600}
            height={200}
            src=`${urlFor(pageContent.heroImage).width(600).height(200).format('webp').url()}` 
        />
    </div> -->

    <!-- <img 
        src=`${urlFor(pageContent.heroImage).width(600).height(200).format('webp').url()}` 
        transition:name={`image-test-${pageContent.heroImage.asset._id}`}
    /> -->

    <!-- <p>PageContent: {JSON.stringify(pageContent)}</p> -->

    <div 
        class="hero" style={{backgroundImage: `url(${urlFor(pageContent.heroImage).width(1920).height(640).format('webp').url()})`}}
        transition:name={"image-test-1234"}
        transition:animate={fade({ duration: '0.3s' })}
    >
		{ 
			pageContent.heroBackgroundVideo && ( 
				<div>
					<video autoplay loop muted playsinline class="hero-background-video">
						<source src={`http://localhost:1001/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm">
						<source src={`${pageContent.heroBackgroundVideo.mp4Path}`} type="video/mp4">
					</video> 
				</div>
			)
		}
	</div> 
    
    
    <main>

        <p>{ page }</p>
        
        <!-- <p>{ JSON.stringify(pageContent) }</p> -->
        <!-- <p>{ JSON.stringify(pageContent.pageBuilder) }</p> -->

		<!-- <p>{ JSON.stringify(page.pageBuilder) }</p> -->

        {pageContent.pageBuilder.map(pageContent => (
            // pageContent._type === 'hero' && <h3> {JSON.stringify(pageContent)}</h3> <br><br>
            <PageBuilder pageContent={pageContent}/>
            // <p>{JSON.stringify(pageContent)}</p>
        ))}

	</main>
</Layout>


<style lang="scss">
    main {
        padding: 2rem 0;
    }

    .z-front {
        z-index: 999;
    }
</style>