--- 
import { fade  } from 'astro:transitions';
import { urlFor } from '../lib/sanityApi.js';

import { PageContent } from '../types/PageContent';
interface PostContent {
    mainImage: string;
    mainImageAltText: string;
    title: string;
    slug: string;
}
import { Image } from 'astro:assets';
import CustomImage from './atomicComponents/CustomImage.astro';
import PlayBtn from './atomicComponents/PlayBtn.astro';

const mediaUploadBaseURL: string = 'https://assets.geschmaecker-sind-verschieden.de'  // import.meta.env.NODEMEDIA_URL;

// Destrukturieren Sie Astro.props in eine andere Variable
const { pageContent, postContent } = Astro.props as { pageContent: PageContent, postContent: PostContent };

const useBackgroundAnimation = (type) => {
    if (type === 'post') {
        if (postContent?.mainImage) {
            return false;
        } else {
            return true;
        }
    } else {
        if (pageContent?.heroBackgroundVideo || pageContent?.heroImage) {
            return false;
        } else {
            return true;
        }
    }
}


let postImageTransitionName 
const setPostImageTransitionName = () => {
    if (!postContent?.slug) return 
    postImageTransitionName = `post-image-${postContent.slug}`;
}
setPostImageTransitionName()

const bgColor = 'red';

---


<!-- <p>
    {JSON.stringify(pageContent?.heroSettings)}<br>
    {JSON.stringify(pageContent?.imageHero)}<br>
    {JSON.stringify(pageContent?.videoHero)}<br>
    textAndVideoModal: {JSON.stringify(pageContent?.textAndVideoModalHero?.cta?.link)}<br>
</p> -->


<div class="hero-wrapper">
    <div class={`hero ${pageContent ? 'page-hero' : ''} ${pageContent?.heroSettings?.heroType === 'textAndVideoModal' ? 'text-and-video-modal-hero' : ''}`} style={``}>


        {
            pageContent &&
            pageContent?.heroSettings?.heroType === 'textAndVideoModal' &&
            (
            <section class="z-10">
                <div class="py-0 px-4 mx-auto max-w-screen-xl">
                    <div class="grid gap-8 items-center mb-8 lg:gap-12 lg:grid-cols-12">
                        <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
                            <h1 class="mb-4 py-4 text-4xl tracking-tight leading-none md:text-5xl xl:text-6xl text-white">
                                {pageContent?.textAndVideoModalHero?.title}
                            </h1>
                            <p class="mx-auto mb-6 max-w-xl font-light text-white lg:mx-0 xl:mb-8 md:text-lg xl:text-xl">
                                {pageContent?.textAndVideoModalHero?.text}
                            </p>
                            <a 
                                href={pageContent?.textAndVideoModalHero?.cta?.link?.anchor} 
                                class="inline-block px-8 py-3 text-lg font-semibold text-white transition duration-200 rounded-lg hover:bg-white bg-tertiary-color"
                            >
                                <button class="rounded-lg">
                                    {pageContent?.textAndVideoModalHero?.cta?.linkName}    
                                </button>
                            </a>
                            
                        </div>
                        <div class="col-span-6 rounded-lg shadow-lg w-full overflow-hidden flex justify-center items-center cursor-pointer">
                            
                            <!--
                            <div class="button-wrapper absolute">
                                <PlayBtn />
                            </div>
                            <picture>
                                <img src={urlFor(pageContent?.textAndVideoModalHero?.videoPoster).width(800).height(450).format('webp').url()} alt="Hero Video">    
                            </picture>
                            -->

                            <video 
                                controls
                                preload="none"
                                poster={urlFor(pageContent?.textAndVideoModalHero?.videoPoster).width(800).height(450).format('webp').url()}
                                class="rounded-lg shadow-lg w-full"
                            >
                                <source src={`${mediaUploadBaseURL}/video-api/${pageContent?.textAndVideoModalHero?.video.videoURL}.mp4`} type="video/mp4">    
                            </video>
                            
                        </div>
                    </div>
                    
                </div>
            </section>



            
            )
        }

        <!--
        <p style={`z-index: 9; font-size: 14px !Important; width: 100%; overflow: hidden;`}>
            videoURL: {JSON.stringify(pageContent?.textAndVideoModalHero?.video.videoURL)}
        </p> 
        -->

        <!-- <source src={`${mediaUploadBaseURL}/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm"> -->
        <!-- playsinline autoplay loop muted -->

        { pageContent &&

            <>

            { pageContent?.heroBackgroundVideo ? ( 
                    <div class="inline-video z-0">
                        <video preload="auto" loop="" autoplay="true" muted="" playsinline="" class="hero-background-video" aria-label={pageContent.heroImageAlt || 'Mood Video'} >
                            <source src={`${mediaUploadBaseURL}/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm"> 
                            <source src={`${mediaUploadBaseURL}/video-api/${pageContent.heroBackgroundVideo.mp4Path}`} type="video/mp4">
                            <p>
                                Ihr Browser unterstützt kein HTML video. Hier ist ein 
                                <a href={`${mediaUploadBaseURL}/video-api/${pageContent.heroBackgroundVideo.mp4Path}`}>Link zu dem Video</a>.
                            </p>
                        </video> 
                    </div>
                ) : 
                pageContent?.heroImage ? (
                    <!--
                    <Image 
                        width="1920"
                        height="640"
                        src={urlFor(pageContent.heroImage).width(1920).height(640).format('webp').url()} 
                        alt={pageContent.heroImageAlt || "Hero Image"}
                    />
                    -->
                    <CustomImage
                        imgSrc={pageContent.heroImage} 
                        altText={pageContent.heroImageAlt || "Hero Image"}
                        width={1920}
                        height={640}
                        rounded={false}
                        class="w-full"
                    />
                ) : (
                    <div>
                        <div class="animated-bg-gradient">
                        </div>

                        {
                            pageContent?.colorGradient &&
                            <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0 max-w-screen-xl">
                                <h1 class="mb-4 py-4 text-4xl tracking-tight leading-none md:text-5xl xl:text-6xl text-white">
                                    {pageContent?.colorGradient?.title}
                                </h1>
                                <div class="relative text-center">
                                    <p class="mx-auto pt-4 text-1xl leading-5 mb-6 font-light text-white lg:mx-0 xl:mb-8 md:text-lg xl:text-xl">
                                        {pageContent?.colorGradient?.text}
                                    </p>
                                    <a 
                                        href={pageContent?.colorGradient?.cta?.link?.anchor} 
                                        onclick={`lenis.scrollTo('${pageContent?.colorGradient?.cta?.link?.anchor}')`}
                                        class="inline-block px-8 py-3 text-lg font-semibold text-white transition duration-200 rounded-lg hover:bg-white bg-tertiary-color"
                                        >
                                        <button class="rounded-lg">
                                            {pageContent?.colorGradient?.cta?.linkName}    
                                        </button>
                                    </a>
                                </div>

                                <!--
                                <p class="relative">pageContent?.colorGradient: { JSON.stringify(pageContent?.colorGradient) }</p>
                                -->

                            </div>
                        }
                    </div>
                )
            }


            { pageContent?.heading &&
                <div class="headline-wrapper mb-4">
                    <div class="inner-wrapper" style="clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);">
                        <h1 class={`${useBackgroundAnimation('page') ? 'background-animation' : null} clip-text text-4xl font-bold text-gray-900`}>
                            <span>
                                {pageContent.heading}
                            </span>
                        </h1>
                    </div>
                </div>
            }


            </>

        }



        {   
            postContent &&

                <>

                {
                    postContent.mainImage ? (
                        <div class="img-wrapper pt-4 xl:pt-8 px-4 lg:px-6 mx-auto max-w-screen-xl">
                            <Image 
                                width="1280"
                                height="627"
                                src={urlFor(postContent.mainImage).width(1280).height(627).format('webp').url()}
                                alt={postContent.mainImageAltText || "Hero Image"}
                                class="post-main-image rounded-lg base-shadow"
                                loading="eager"
                                transition:name={postImageTransitionName}
                                transition:animate='initial'                      
                            />
                            <!--
                            <Image 
                                width="1280"
                                height="627"
                                src={urlFor(postContent.mainImage).width(1280).height(627).format('webp').url()} 
                                alt={postContent.mainImageAltText || "Hero Image"}
                                class="post-main-image rounded-lg base-shadow"
                                
                                style={`view-transition-name: ${postImageTransitionName}; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;`}                     
                            />
                            -->
                            <!-- 
                                style={`view-transition-name: ${postImageTransitionName}; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;`} 

                                transition:name={postImageTransitionName}
                                transition:animate='initial'       
                            -->
                        </div>
                    ) : (
                    <div class="animated-bg-gradient"></div>
                    )

                    

                }


                { 
                    postContent?.title &&
                    false &&
                        <div class="headline-wrapper mb-4">
                            <h1 class={`${useBackgroundAnimation('post') ? 'background-animation' : null} clip-text text-4xl font-bold text-gray-900`}>
                                <span>{postContent.title}</span>
                            </h1>
                        </div>
                }

                </>


        }

        

        
    </div> 

    <!--
    {
        postContent ? 
            <>
                <div id="svg-displacement">
                    <svg viewBox="0 0 1600 900" fill="none" preserveAspectRatio="xMidYMin slice">
                        <defs>
                            <filter id="displacementFilter">
                                <feTurbulence type="fractalNoise" baseFrequency="0.03" numOctaves="3" result="noise" />
                                <feDisplacementMap in="SourceGraphic" in2="noise" scale="50" xChannelSelector="R" yChannelSelector="G" />
                            </filter>
                            <mask id="circleMask">
                                <circle cx="600" cy="800" r="0" fill="white" class="displacement"/>
                            </mask>
                        </defs>
                        <rect width="1600" height="900" fill="#73b740" width="100%" height="100%" mask="url(#circleMask)" />
                    </svg>
                </div>
            </>
            : null
    }
    -->


</div>




<style lang="scss">


    .hero.page-hero .headline-wrapper h1 {

        color: #fff;
        -webkit-text-fill-color: #fff;

        --color1: rgb(11 149 161);
        --color2: rgb(11 149 161);

        span {

            background-image: linear-gradient(var(--color1), var(--color2));
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            animation: heroHeading 800ms 0ms ease-out;
            animation-fill-mode: forwards;
            animation-play-state: play;

            color: #fff;
            padding: 0.2rem 0.6rem 0.2rem 0.6rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }

        &.background-animation {
            color: var(--color1);
            -webkit-text-fill-color: var(--color1);

            span {
                background-image: linear-gradient(#fff, #fff);
            }
        }

    }  
    
    @keyframes heroHeading {
        to {
            background-size: 100% 100%;
        }
    }

    .displacement {
        filter: url(#displacementFilter);
    }


    $basedelay: 0.2s;
    $base-duration: 1s;

    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &.page-hero {
            min-height: 440px;
            // aspect-ratio: 1920 / 640;
        }

        &.text-and-video-modal-hero {
            align-items: center;
        }
        
        @media screen and (max-width: 690px) {
            &.page-hero {
                // aspect-ratio: 16 / 9;
                min-height: 0px;
            }
        }


        .headline-wrapper {
            z-index: 9;
            position: absolute;
            padding: 4rem 2rem;

            @media screen and (max-width: 690px) {
                padding: 1rem 1rem;
            }

            .inner-wrapper {
                

                animation: maskFadeInFromLeft 1s $basedelay forwards; /* Animation anwenden und bei 100% anhalten */
                animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */

                padding: 0 2rem;

                overflow: hidden;
            }
            

            h1 {
                // margin: auto;
                // text-align: center;
                // font-size: 4rem;
                // font-weight: 800;

                // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                // margin-top: 30vh;
                // color: #fb923c;
                // text-shadow: 0 0 24px rgba(255,255,255,1);

                // font-family: Arvo,Arial,Sans-Serif;
                // background: linear-gradient(to right, rgb(11 149 161) 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
                background: rgb(11 149 161);

                background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                background-position: 100% 0; /* Ausgangsposition ganz rechts */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                margin: 0;
                line-height: 6rem;
                // animation: maskSlideHeading 1s 0.4s forwards; /* Animation anwenden und bei 100% anhalten */
                // animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */


                @media screen and (max-width: 690px) {
                    font-size: 2rem;
                    line-height: 3rem;
                }

                &.background-animation {
                    // Testing Animation 
                    background: linear-gradient(45deg,#f77f7f,#eadb3a);
                    background-size: 200% 200%;

                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    -webkit-animation: hero 10s infinite;
                    -moz-animation: hero 10s infinite;
                    -o-animation: hero 10s infinite;
                    animation: hero 10s infinite;
                }

                // &:before {
                //     content: '';
                //     height: 6rem;
                //     // background: linear-gradient(to right, #fff 50%, transparent 50%);
                //     background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                //     background-position: 100% 0; /* Ausgangsposition ganz rechts */
                //     position: absolute;
                //     z-index: -1;
                //     animation: maskSlideBackground 1s $basedelay forwards; /* Animation anwenden und bei 100% anhalten */
                //     animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */

                //     @media screen and (max-width: 690px) {
                //         height: 3rem;

                //     }
                // }
            }
        }

        .inline-video {
            z-index: 6;
        }

        img {
            top: 0;
            left: 0;
            object-fit: cover;
            contain: paint;
            display: block;
            width: 100%;
            height: auto;
        }

        &:not(.page-hero) img {
            aspect-ratio: 1280 / 627;
        }



    }



    .post-main-image {
        width: 1280px;
        max-width: 1280px;
        margin: auto;
    }


    // Create the Base Hero animation
    @keyframes hero {
        0%, 100% {
            background-position: 0 70%;
        }
        50% {
            background-position: 100% 31%;
        }
    }

    @keyframes heroBefore {
        0%, 100% {
            top: -20vw;
            left: -10vw;
            opacity: 0;
        }
        50% {
            top: 10vw;
            left: 10vw;
            opacity: 1;
        }
    }
    
    
    @keyframes heroAfter {
        0%, 100% {
            bottom: -20vw;
            right: -10vw;
            opacity: 0;
        }
        50% {
            bottom: 10vw;
            right: 10vw;
            opacity: 1;
        }
    }



    /* h1 Animation */ 

    @keyframes fadeUpIn {
            0% {
                transform: translate(0vw, 0rem);
            }
            100% {
                transform: translate(0, 0rem);
            }
        }

        @keyframes maskFadeInFromLeft {
            0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }
            100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

    @keyframes maskSlideHeading {
        0% {
            background: linear-gradient(to right, rgb(11 149 161) 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
            background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
            background-position: 100% 0; /* Ausgangsposition ganz rechts */
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        100% {
            background: linear-gradient(to right, rgb(11 149 161) 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
            background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
            background-position: 0% 0; /* Endposition ganz links */

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }


    /* Keyframe-Animation für :before erstellen */
    @keyframes maskSlideBackground {
        0% {
            // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
            // background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
            // background-position: 100% 0; /* Ausgangsposition ganz rechts */
            width: 0;

        }
        100% {
            // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
            // background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
            // background-position: 0% 0; /* Endposition ganz links */
            width: calc(100% + 4rem);
        }
    }

    @media (max-width: 789px) {
        @keyframes maskSlideBackground {
            0% {
                // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
                // background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                // background-position: 100% 0; /* Ausgangsposition ganz rechts */
                width: 0;

            }
            100% {
                // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
                // background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
                // background-position: 0% 0; /* Endposition ganz links */
                width: calc(100% + 2rem);
            }
        }
    }
    
</style>