--- 
import { fade  } from 'astro:transitions';
import { urlFor } from '../lib/sanityApi.js';

import { PageContent } from '../types/PageContent';
interface PostContent {
    mainImage: string;
    mainImageAltText: string;
    title: string;
    slug: string;
}
import { Image } from 'astro:assets';
import CustomImage from './atomicComponents/CustomImage.astro';

// Destrukturieren Sie Astro.props in eine andere Variable
const { pageContent, postContent } = Astro.props as { pageContent: PageContent, postContent: PostContent };

const useBackgroundAnimation = (type) => {
    if (type === 'post') {
        if (postContent?.mainImage) {
            return false;
        } else {
            return true;
        }
    } else {
        if (pageContent?.heroBackgroundVideo || pageContent?.heroImage) {
            return false;
        } else {
            return true;
        }
    }
}


let postImageTransitionName 
const setPostImageTransitionName = () => {
    if (!postContent?.slug) return 
    postImageTransitionName = `post-image-${postContent.slug}`;
}
setPostImageTransitionName()

const bgColor = 'red';

---


<div class="hero-wrapper sm:pb-16">
    <div class={`hero ${pageContent ? 'page-hero' : ''}`} style={``}>

        <!-- <p>
            {JSON.stringify(pageContent)}
        </p> -->

        <!-- <source src={`https://assets.geschmaecker-sind-verschieden.de/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm"> -->
        <!-- playsinline autoplay loop muted -->

        { pageContent &&

            <>

            { pageContent?.heroBackgroundVideo ? ( 
                    <div class="inline-video">
                        <video preload="auto" loop="" autoplay="true" muted="" playsinline="" class="hero-background-video" aria-label={pageContent.heroImageAlt || 'Mood Video'} >
                            <source src={`https://assets.geschmaecker-sind-verschieden.de/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm"> 
                            <source src={`https://assets.geschmaecker-sind-verschieden.de/video-api/${pageContent.heroBackgroundVideo.mp4Path}`} type="video/mp4">
                            <p>
                                Ihr Browser unterstützt kein HTML video. Hier ist ein 
                                <a href={`https://assets.geschmaecker-sind-verschieden.de/video-api/${pageContent.heroBackgroundVideo.mp4Path}`}>Link zu dem Video</a>.
                            </p>
                        </video> 
                    </div>
                ) : 
                pageContent?.heroImage ? (
                    <!--
                    <Image 
                        width="1920"
                        height="640"
                        src={urlFor(pageContent.heroImage).width(1920).height(640).format('webp').url()} 
                        alt={pageContent.heroImageAlt || "Hero Image"}
                    />
                    -->
                    <CustomImage
                        imgSrc={pageContent.heroImage} 
                        altText={pageContent.heroImageAlt || "Hero Image"}
                        width={1920}
                        height={640}
                        rounded={false}
                        class="w-full"
                    />
                ) : (
                    <div class="animated-bg-gradient">
                    </div>
                )
            }


            { pageContent?.heading &&
                <div class="headline-wrapper mb-4">
                    <div class="inner-wrapper" style="clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);">
                        <h1 class={`${useBackgroundAnimation('page') ? 'background-animation' : null} clip-text text-4xl font-bold text-gray-900`}>
                            <mark>
                                {pageContent.heading}
                            </mark>
                        </h1>
                    </div>
                </div>
            }


            </>

        }



        {   
            postContent &&

                <>

                {
                    postContent.mainImage ? (
                        <div class="img-wrapper pt-4 xl:pt-16 px-4 lg:px-6 mx-auto max-w-screen-xl">
                            <Image 
                                width="1280"
                                height="627"
                                src={urlFor(postContent.mainImage).width(1280).height(627).format('webp').url()}
                                alt={postContent.mainImageAltText || "Hero Image"}
                                class="post-main-image rounded-lg base-shadow"
                                loading="eager"
                                transition:name={postImageTransitionName}
                                transition:animate='initial'                      
                            />
                            <!--
                            <Image 
                                width="1280"
                                height="627"
                                src={urlFor(postContent.mainImage).width(1280).height(627).format('webp').url()} 
                                alt={postContent.mainImageAltText || "Hero Image"}
                                class="post-main-image rounded-lg base-shadow"
                                
                                style={`view-transition-name: ${postImageTransitionName}; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;`}                     
                            />
                            -->
                            <!-- 
                                style={`view-transition-name: ${postImageTransitionName}; view-transition-duration: 5000ms; view-transition-timing-function: ease-in-out;`} 

                                transition:name={postImageTransitionName}
                                transition:animate='initial'       
                            -->
                        </div>
                    ) : (
                    <div class="animated-bg-gradient"></div>
                    )

                    

                }


                { 
                    postContent?.title &&
                    false &&
                        <div class="headline-wrapper mb-4">
                            <h1 class={`${useBackgroundAnimation('post') ? 'background-animation' : null} clip-text text-4xl font-bold text-gray-900`}>
                                <span>{postContent.title}</span>
                            </h1>
                        </div>
                }

                </>

                


        }

        

        
    </div> 

    <!--
    {
        postContent ? 
            <>
                <div id="svg-displacement">
                    <svg viewBox="0 0 1600 900" fill="none" preserveAspectRatio="xMidYMin slice">
                        <defs>
                            <filter id="displacementFilter">
                                <feTurbulence type="fractalNoise" baseFrequency="0.03" numOctaves="3" result="noise" />
                                <feDisplacementMap in="SourceGraphic" in2="noise" scale="50" xChannelSelector="R" yChannelSelector="G" />
                            </filter>
                            <mask id="circleMask">
                                <circle cx="600" cy="800" r="0" fill="white" class="displacement"/>
                            </mask>
                        </defs>
                        <rect width="1600" height="900" fill="#73b740" width="100%" height="100%" mask="url(#circleMask)" />
                    </svg>
                </div>
            </>
            : null
    }
    -->


</div>




<style lang="scss">


    .hero.page-hero .headline-wrapper h1 {

        color: #fff;
        -webkit-text-fill-color: #fff;

        --color1: rgb(251, 146, 60);
        --color2: rgb(251, 146, 60);

        mark {

            background-image: linear-gradient(var(--color1), var(--color2));
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            animation: heroHeading 800ms 0ms ease-out;
            animation-fill-mode: forwards;
            animation-play-state: play;

            color: #fff;
            padding: 0.2rem 0.6rem 0.2rem 0.6rem;
            -webkit-box-decoration-break: clone;
        }

        &.background-animation {
            color: var(--color1);
            -webkit-text-fill-color: var(--color1);

            mark {
                background-image: linear-gradient(#fff, #fff);
            }
        }

    }  
    
    @keyframes heroHeading {
        to {
            background-size: 100% 100%;
        }
    }

    .displacement {
        filter: url(#displacementFilter);
    }


    $basedelay: 0.2s;
    $base-duration: 1s;

    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &.page-hero {
            min-height: 440px;
            aspect-ratio: 1920 / 640;
        }
        
        @media screen and (max-width: 690px) {
            &.page-hero {
                aspect-ratio: 16 / 9;
                min-height: 0px;
            }
        }


        .headline-wrapper {
            z-index: 9;
            position: absolute;
            padding: 4rem 2rem;

            @media screen and (max-width: 690px) {
                padding: 1rem 1rem;
            }

            .inner-wrapper {
                

                animation: maskFadeInFromLeft 1s $basedelay forwards; /* Animation anwenden und bei 100% anhalten */
                animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */

                padding: 0 2rem;

                overflow: hidden;
            }
            

            h1 {
                margin: auto;
                text-align: center;
                font-size: 4rem;
                font-weight: 800;

                // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                // margin-top: 30vh;
                // color: #fb923c;
                // text-shadow: 0 0 24px rgba(255,255,255,1);

                // font-family: Arvo,Arial,Sans-Serif;
                // background: linear-gradient(to right, rgb(251, 146, 60) 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
                background: rgb(251, 146, 60);

                background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                background-position: 100% 0; /* Ausgangsposition ganz rechts */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                margin: 0;
                line-height: 6rem;
                // animation: maskSlideHeading 1s 0.4s forwards; /* Animation anwenden und bei 100% anhalten */
                // animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */


                @media screen and (max-width: 690px) {
                    font-size: 2rem;
                    line-height: 3rem;
                }

                &.background-animation {
                    // Testing Animation 
                    background: linear-gradient(45deg,#f77f7f,#eadb3a);
                    background-size: 200% 200%;

                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    -webkit-animation: hero 10s infinite;
                    -moz-animation: hero 10s infinite;
                    -o-animation: hero 10s infinite;
                    animation: hero 10s infinite;
                }

                // &:before {
                //     content: '';
                //     height: 6rem;
                //     // background: linear-gradient(to right, #fff 50%, transparent 50%);
                //     background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                //     background-position: 100% 0; /* Ausgangsposition ganz rechts */
                //     position: absolute;
                //     z-index: -1;
                //     animation: maskSlideBackground 1s $basedelay forwards; /* Animation anwenden und bei 100% anhalten */
                //     animation-fill-mode: forwards; /* Zustand bei 100% beibehalten */

                //     @media screen and (max-width: 690px) {
                //         height: 3rem;

                //     }
                // }
            }
        }

        .inline-video {
            z-index: 6;
        }

        img {
            top: 0;
            left: 0;
            object-fit: cover;
            contain: paint;
            display: block;
            width: 100%;
            height: auto;
        }

        &:not(.page-hero) img {
            aspect-ratio: 1280 / 627;
        }

        .animated-bg-gradient {
            background: linear-gradient(45deg,#f77f7f,#eadb3a);
            background-size: 200% 200%;
            -webkit-animation: hero 10s infinite;
            -moz-animation: hero 10s infinite;
            -o-animation: hero 10s infinite;
            animation: hero 10s infinite;
            box-shadow: 0 0 7px 0 rgba(0,0,0,.2);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &:before {
                content: "";
                position: absolute;
                background-image: radial-gradient(circle at center center, #f89f9f 0%, rgb(255 152 0 / 0%) 66%);
                mix-blend-mode: hard-light;
                mix-blend-mode: multiply;
                opacity: 0;
                width: 50vw;
                height: 50vw;
                top: -25vw;
                left: -25vw;
                animation: heroBefore 10s infinite;
            }

            &:after {
                content: "";
                position: absolute;
                background-image: radial-gradient(circle at center center,#feae79 0%,rgba(255,152,0,0) 70%);
                mix-blend-mode: hard-light;
                mix-blend-mode: multiply;
                opacity: 0;
                width: 50vw;
                height: 50vw;
                bottom: -25vw;
                right: -25vw;

                animation: heroAfter 10s infinite;
            }
        }

    }



    .post-main-image {
        width: 1280px;
        max-width: 1280px;
        margin: auto;
    }


    // Create the Base Hero animation
    @keyframes hero {
        0%, 100% {
            background-position: 0 70%;
        }
        50% {
            background-position: 100% 31%;
        }
    }

    @keyframes heroBefore {
        0%, 100% {
            top: -20vw;
            left: -10vw;
            opacity: 0;
        }
        50% {
            top: 10vw;
            left: 10vw;
            opacity: 1;
        }
    }
    
    
    @keyframes heroAfter {
        0%, 100% {
            bottom: -20vw;
            right: -10vw;
            opacity: 0;
        }
        50% {
            bottom: 10vw;
            right: 10vw;
            opacity: 1;
        }
    }



    /* h1 Animation */ 

    @keyframes fadeUpIn {
            0% {
                transform: translate(0vw, 0rem);
            }
            100% {
                transform: translate(0, 0rem);
            }
        }

        @keyframes maskFadeInFromLeft {
            0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }
            100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

    @keyframes maskSlideHeading {
        0% {
            background: linear-gradient(to right, rgb(251, 146, 60) 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
            background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
            background-position: 100% 0; /* Ausgangsposition ganz rechts */
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        100% {
            background: linear-gradient(to right, rgb(251, 146, 60) 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
            background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
            background-position: 0% 0; /* Endposition ganz links */

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }


    /* Keyframe-Animation für :before erstellen */
    @keyframes maskSlideBackground {
        0% {
            // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
            // background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
            // background-position: 100% 0; /* Ausgangsposition ganz rechts */
            width: 0;

        }
        100% {
            // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
            // background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
            // background-position: 0% 0; /* Endposition ganz links */
            width: calc(100% + 4rem);
        }
    }

    @media (max-width: 789px) {
        @keyframes maskSlideBackground {
            0% {
                // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Anfangszustand: Harte Kante in der Mitte */
                // background-size: 200% 100%; /* Größe des Verlaufs verdoppeln */
                // background-position: 100% 0; /* Ausgangsposition ganz rechts */
                width: 0;

            }
            100% {
                // background: linear-gradient(to right, #fff 50%, transparent 50%); /* Endzustand: Harte Kante in der Mitte bleibt erhalten */
                // background-size: 200% 100%; /* Größe des Verlaufs bleibt gleich */
                // background-position: 0% 0; /* Endposition ganz links */
                width: calc(100% + 2rem);
            }
        }
    }
    
</style>