--- 
import { fade  } from 'astro:transitions';
import { urlFor } from '../lib/sanityApi.js';

import { PageContent } from '../types/PageContent';
import { Image } from 'astro:assets';

// Destrukturieren Sie Astro.props in eine andere Variable
const { pageContent } = Astro.props as { pageContent: PageContent };

---

<div class="hero">

    <!-- <p>
        {JSON.stringify(pageContent)}
    </p> -->

    { pageContent?.heading &&
        <div class="headline-wrapper mb-4">
            <h1 class="text-4xl font-bold text-gray-900 dark:text-white">
                <span>{pageContent.heading}</span>
            </h1>
        </div>
    }

    { pageContent?.heroBackgroundVideo ? ( 
            <div class="inline-video">
                <video autoplay loop muted playsinline class="hero-background-video" aria-label={pageContent.heroImageAlt || 'Stimmungs Assets'} >
                    <source src={`https://geschmaecker-sind-verschieden.com/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm">
                    <source src={`https://geschmaecker-sind-verschieden.com/video-api/${pageContent.heroBackgroundVideo.mp4Path}`} type="video/mp4">
                    <p>
                        Ihr Browser unterstützt kein HTML video. Hier ist ein 
                        <a href={`https://geschmaecker-sind-verschieden.com/video-api/${pageContent.heroBackgroundVideo.mp4Path}`}>Link zu dem Video</a>.
                    </p>
                </video> 
            </div>
        ) : 
        pageContent?.heroImage ? (
            <Image 
                width="1920"
                height="640"
                src={urlFor(pageContent.heroImage).width(1920).height(640).format('webp').url()} 
                alt={pageContent.heroImageAlt || "Hero Image"}
                transition:name={`hero-image-${pageContent.slug}`}
                transition:animate="initial"
            />
        ) : (
            <div class="animated-bg-gradient">
            </div>
        )
    }

    <!--
    {
        pageContent?.heroBackgroundVideo && ( 
            <div>
                <video autoplay loop muted playsinline class="hero-background-video">
                    <source src={`https://geschmaecker-sind-verschieden.com/video-api/${pageContent.heroBackgroundVideo.webmPath}`} type="video/webm">
                    <source src={`https://geschmaecker-sind-verschieden.com/video-api/${pageContent.heroBackgroundVideo.mp4Path}`} type="video/mp4">
                </video> 
            </div>
        )
    }
    -->
    
</div> 
<div class="spacing"></div>


<style lang="scss">
    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 440px;

        .headline-wrapper {
            z-index: 9;
            position: absolute;
            padding: 4rem;

            h1 {
                margin: auto;
                width: 100%;
                text-align: center;
                font-size: 4rem;
                font-weight: 800;
                // margin-top: 30vh;
                // color: #fb923c;
                // text-shadow: 0 0 24px rgba(255,255,255,1);
            }
        }

        .inline-video {
            z-index: 6;
        }

        img {
            top: 0;
            left: 0;
            object-fit: cover;
            contain: paint;
            display: block;
            width: 100%;
            height: auto;
        }

        .animated-bg-gradient {
            background: linear-gradient(221deg,#f77f7f,#def056);
            background-size: 400% 400%;
            -webkit-animation: hero 10s ease infinite;
            -moz-animation: hero 10s ease infinite;
            -o-animation: hero 10s ease infinite;
            animation: hero 10s ease infinite;
            box-shadow: 0 0 7px 0 rgba(0,0,0,.2);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    }


    // Create the animation
    @keyframes hero {
        0%, 100% {
            background-position: 0 70%;
        }
        50% {
            background-position: 100% 31%;
        }
    }
    
</style>