---
import { urlFor } from '../lib/sanityApi.js';

import BlockContent from "./BlockContent.astro";
import PlayBtn from "./atomicComponents/PlayBtn.astro";


const { statement, uid } = Astro.props

const mediaUploadBaseURL: string = 'https://assets.geschmaecker-sind-verschieden.de'  // import.meta.env.NODEMEDIA_URL;

const video = statement.media?.video
const thumnailFromFfmpeg = `${mediaUploadBaseURL}/video-api/${statement.media.video?.thumbnailPath}`
const thumbnail = statement.media?.video?.customThumbnailImage ? statement.media?.video?.customThumbnailImage : thumnailFromFfmpeg

var videoID = `statement-${statement.media?.video?.thumbnailPath?.match(/video-(.*?)-thumbnail/)[1]}`;

---


<div class={`single-statement single-statement-${uid} max-w-screen-md whatever`}>
    {
        statement.media.video &&
        <picture class="teaser teaser-video z-0" >
            {   
                statement.media?.video?.customThumbnailImage ?
                <img 
                    src={`${urlFor(thumbnail).width(768).height(432).format('jpg').url()}`}
                    width="768"
                    height="432"
                >  
                : 
                <img 
                    src={thumbnail}
                >   
            }
            
        </picture>

        <!--
        <video 
            class="teaser teaser-video z-0" 
            preload="auto" 
            loop 
            autoplay 
            muted 
            playsinline 
            poster={thumbnail}
            aria-label="Nur ein Teaser für das Video"
        >
            
            <source src={`${mediaUploadBaseURL}/video-api/${statement.media.video.videoPlayer}.mp4`} type="video/mp4" />
        </video>
        -->
        <!-- <source src={`${mediaUploadBaseURL}/video-api/${statement.media.video?.webmPath}`} type="video/webm" /> -->
    }


    <div class="content-cover flex-col absolute">

        <div class="inner-wrapper max-w-screen-md text-center">
    
            <div class="text-content">
                <h3 class="text-2xl pb-4 text-center tertiary-color white-shadow font-semibold">
                    { statement.heading }
                </h3>
                <h3 class="tertiary-color white-shadow text-1xl pb-2 mb-0 font-bold">
                    { statement.authorOfStatement }
                </h3>
        
                <p class="tertiary-color white-shadow text-1xl pb-2 font-medium ">
                    <!-- <span class="font-bold">videoURL: {JSON.stringify(statement.media.video)}</span> -->
                    <!-- <span class="font-bold">Thumbnail: {JSON.stringify(statement.media?.video?.customThumbnailImage)}</span> -->
                    { statement.positionOfAuthor }
                </p>
            </div>

            <div class="play__Button_outer">
                <PlayBtn />
            </div>

            <!-- <p>Video: {JSON.stringify(statement.media.video.webmPath)}</p> -->
    
            
    
            <!-- <BlockContent data={statement.blockContent} /> -->
    
            <!-- <p>
                {JSON.stringify(statement)}
            </p> -->
        
        </div>

    </div>

</div>



</div>


<style lang="scss">

    

</style>