---

import Layout from '../../layouts/Page.astro';


import { urlFor } from '../../lib/sanityApi.js';

import { getPostOverview } from '../../lib/sanityApi';
const postOverview = await getPostOverview();

import { getPosts } from '../../lib/sanityApi';
const posts = await getPosts();

// Import Components
import ArticleCard from '../../components/blog/ArticleCard.astro';

// Import Composables 
import { convertBlockContentToHTML } from '../../composables/blockContentToHTML';

import CustomImage from '../../components/atomicComponents/CustomImage.astro';
import { Image } from 'astro:assets';
import Hero from '../../components/Hero.astro';


const paragraph = () => {
    return {
        blockContent: convertBlockContentToHTML(postOverview.paragraph)
    }
}

const contentArray = posts.map(post => {
    return {
        blockContent: convertBlockContentToHTML(post.body)
    }
});


---


<Layout>

    <!-- <Hero pageContent={postOverview} /> -->

    <!-- <h2>
        {JSON.stringify(postOverview)}
    </h2> -->

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                {
                    postOverview.tagline &&
                    <p class="section-tagline text-gray-500 sm:text-xl dark:text-gray-400 mb-4">
                        {postOverview.tagline}
                    </p>
                }
                {
                    postOverview.heading &&
                        <h2 class="section-heading mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                            {postOverview.heading}
                        </h2>
                }
                {
                    postOverview.paragraph && 
                        <div class="section-block-content font-light text-gray-500 sm:text-xl dark:text-gray-400" set:html={paragraph().blockContent}></div>
                }
            </div> 
            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                
                { 
                    posts.map((post, index) => (
                        <ArticleCard post={post} blockContent={contentArray[index]} />
                    ))
                }
                
            </div>  
        </div>
    </section>

</Layout>


