---

import Layout from '../../layouts/Base.astro';

import { urlFor } from '../../lib/sanityApi.js';

import { getPostOverview } from '../../lib/sanityApi';
const postOverview = await getPostOverview();

import { getPosts } from '../../lib/sanityApi';
const posts = await getPosts();

posts.sort((a, b) => {
  const dateA = new Date(a.publishedAt).getTime();
  const dateB = new Date(b.publishedAt).getTime();
  return dateB - dateA;
});

// Import Components
import ArticleCard from '../../components/blog/ArticleCard.astro';

// Import Composables 
import { convertBlockContentToHTML } from '../../composables/blockContentToHTML';

import CustomImage from '../../components/atomicComponents/CustomImage.astro';
import { Image } from 'astro:assets';
import Hero from '../../components/Hero.astro';

// for Overview Page
const paragraph = () => {
    return {
        blockContent: convertBlockContentToHTML(postOverview.paragraph)
    }
}

const contentArray = posts.map(post => {
    return {
        blockContent: convertBlockContentToHTML(post.body)
    }
});


const prefetch: Array<any> = []
const prefetching = async () => {
    const postsData = await getPosts()
    postsData.map(post => {
        let data = {
            url: `/blog/${post.slug.current}`,
            data: post
        }
        prefetch.push(data)
    });
};
prefetching()


const { page, lang, version, path } =  Astro.params

const params = Astro.params

---


<Layout prefetch={posts} prefetchType={'post-overview'}>

    <!-- <Hero pageContent={postOverview} /> -->

    <!-- <h2>
        {JSON.stringify(postOverview)}
    </h2> -->

    <main>

        <section class="">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                    {
                        postOverview.tagline &&
                        <p class="text-gray-500 sm:text-xl mb-4">
                            {postOverview.tagline}
                        </p>
                    }
                    {
                        postOverview.heading &&
                            <h2 class="mb-4 text-4xl tracking-tight text-gray-900">
                                {postOverview.heading}
                            </h2>
                    }
                    {
                        postOverview.paragraph && 
                            <div class=" font-light text-gray-500 sm:text-xl" set:html={paragraph().blockContent}></div>
                    }

                </div> 

                <!-- {JSON.stringify(prefetch)} -->
                <!-- {JSON.stringify(posts)} -->
                <div class="post-grid grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                    
                    { 
                        posts.map((post, index) => (
                            <ArticleCard post={post} blockContent={contentArray[index]} />
                        ))
                    }
                    
                </div>  
            </div>
        </section>

    </main>

</Layout>


<style>
    .post-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(min-content, max-content); /* Automatische Anpassung der Höhe */
        grid-gap: 10px;
        /* grid-auto-flow: row dense; */
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
</style>