---
import { Image } from 'astro:assets'
import { urlFor } from '../../lib/sanityApi.js';

interface NavItem {
    title: string
    slug: string
    linkName?: string
}
interface GlobalSiteSettings {
    logo: {
        src: string
        svg: string
        altText: string
    }
    title: string
}
interface SocialLink {
    link: string
    svg: string
}

interface Props {
    globalSiteSettings: GlobalSiteSettings
    slug: string | undefined
    mainMenu: {
        mainNav?: Array<NavItem>
        footerNav?: {
            footerNavLeft?: Array<NavItem>
            footerNavRight?: Array<NavItem>
            socialLinks?: Array<SocialLink>
        }
    }
}
// const props = defineProps({
//     siteSettings: Object as () => SiteSettings,
//     slug: String
// })



// let env = import.meta.env
// console.log('env from Header.astro: ', env)



const { globalSiteSettings, mainMenu, slug } = Astro.props as Props


const date = new Date();


---

<footer class="p-4 mt-8 bg-white md:p-8 lg:p-10 base-shadow">
    <div class="mx-auto max-w-screen-xl text-center">

        <!-- <p>
            globalSiteSettings: {JSON.stringify(globalSiteSettings)}
        </p> -->
        
        <a href="/" aria-label="Link zur Startseite" class="flex justify-center items-center text-2xl font-semibold text-gray-900">
            {
                globalSiteSettings.logo.svg ? 
                    (<span class="svg" set:html={globalSiteSettings.logo.svg}></span>)
                : globalSiteSettings.logo.src ?
                    <Image
                        src={urlFor(globalSiteSettings.logo.src).format('webp').url()} alt="Logo der Seite"
                        alt="Logo der Seite"
                        width={140}
                        height={56}
                    /> 
                :   <p>
                        {globalSiteSettings.title}
                    </p>
            } 
        </a>

        <!-- <p class="my-6 text-gray-500">
            Open-source library of over 400+ web components and interactive elements built for better web.
        </p> -->

        <div class="flex pt-6 justify-around footer-links">
            <div class="link-wrapper flex m-auto">
                <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900">
                    <!-- <p>{JSON.stringify(mainMenu.mainNav)}</p> -->
                    { 
                        mainMenu.footerNav &&
                        mainMenu.footerNav.footerNavLeft &&
                            mainMenu.footerNav.footerNavLeft.map((nav, index) => (
                                <li>
                                    <a href={nav.slug} class="mr-4 hover:underline md:mr-6 ">
                                        { 
                                            nav.linkName ? nav.linkName
                                            : nav.title ? nav.title 
                                            : 'Titel fehlt'
                                        }    
                                    </a>
                                </li>
                            ))
                    }
                </ul>
                <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900">
                    <!-- <p>{JSON.stringify(mainMenu.mainNav)}</p> -->
                    { 
                        mainMenu.footerNav &&
                        mainMenu.footerNav.footerNavRight &&
                            mainMenu.footerNav.footerNavRight.map((nav, index) => (
                                <li>
                                    <a href={nav.slug} class="mr-4 hover:underline md:mr-6 ">
                                        { 
                                            nav.linkName ? nav.linkName
                                            : nav.title ? nav.title 
                                            : 'Titel fehlt'
                                        }    
                                    </a>
                                </li>
                            ))
                    }
                </ul>
            </div>
        </div>

        <div class="social-icons text-sm text-gray-500 sm:text-center ">
            {
                mainMenu.footerNav?.socialLinks?.map((socialItem, index) => {
                    return (
                        <a href={socialItem.link} target="_blank" class="mr-4 hover:underline md:mr-6 ">
                            <span set:html={socialItem.svg}></span>
                        </a>
                    )
                
                })
            }
        </div>


        <span class="text-sm text-gray-500 sm:text-center ">
            © {date.getFullYear()}  – 
            <a href="https://suessstoff-verband.info/" target="_blank" class="hover:underline">
                Süßstoff-Verband e.V.
            </a>
            <!-- . All Rights Reserved. -->
        </span>
    </div>


    <!-- <p>
        {JSON.stringify(mainMenu.footerNav.socialLinks)}
    </p> -->
</footer>


<style>

    
</style>